.container{
    width: 50%;
}
.title{
    font-size: 26px;
    margin-bottom: 5px;
}
.closeWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;

    & .close{
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: red;
        color:white;
    }
}
.form{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.formGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}
.label{
    margin-bottom: 5px;
}
.input{
    width: 100%;
}
.buttonWrapper{
    width: 80%;
    margin-top: 5px;
    & .inputBtn{
        padding: 5px;
        background: #ccc;
        color:black;
        cursor: pointer;
        border:none;
    }
}